.nav {
	display: flex;
	align-items: center;
	gap: 22px;

	&:hover &__item {
		color: #707e9c;
	}
	&__item {
		transition: all 250ms ease-in-out;
		color: #fefefe;
		cursor: pointer;

		&:hover {
			color: #22ebbe !important;
		}
	}

}
