.sites {
	padding-top: 30px;
	padding-bottom: 30px;
	max-width: 680px;

	&__row {
		display: flex;
		justify-content: space-between;
		margin-bottom: 40px;
	}

	&__item {
		width: 320px;
		height: 170px;
		padding: 23px 27px 20px 29px;
		background: #fefefe;
		display: flex;
		flex-flow: column;
		justify-content: space-between;
		transition: all 0.2s ease-in-out;
	}

	&__title {
		font-size: 16px;
		font-weight: bold;
		line-height: 1.35;
		color: #020c22;
		transition: all 0.2s ease-in-out;
	}
	&__description {
		text-transform: uppercase;
		color: #0a3fb4;
		font-size: 13px;
		transition: all 0.2s ease-in-out;
	}
	&__ui {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	&__button {
		transition: all 0.2s ease-in-out;
		width: 7px;
		height: 13px;
		background-repeat: no-repeat;
		background-position:center;
		background-size: contain;
		background-image: url("../images/icons/other_icons/arrow__right.svg");
	}
	&__item:hover {
		background: #051945;
	}
	&__item:hover &__title {
		color: #fefefe;
	}
	&__item:hover &__description {
		color: #98a4be;
	}
	&__item:hover &__button {
		background-image: url("../images/icons/other_icons/arrow__right_grey.svg");
	}
	&__item--red:hover {
		background: #e6003e;
	}
	&__item--red:hover &__button {
		background-image: url("../images/icons/other_icons/arrow__right_grey.svg");
	}
}
