<footer class="footer">
  <div class="footer__container">

    <div class="footer__row">

      <div class="footer__titles">
        <h4 class="footer__title">
          Разделы сайта Президента России
        </h4>
        <h4 class="footer__title">
          Информационные ресурсы Президента России
        </h4>
        <h4 class="footer__title">
          Специальные проекты по защите животных
        </h4>
        <h4 class="footer__title">
          Правовая и техническая информация
        </h4>
      </div>

      <div class="footer__item">
        <div class="footer__links">
          <ul class="footer__list">
            <li><a href="#">События</a></li>
            <li><a href="#">Структура</a></li>
            <li><a href="#">Видео и фото</a></li>
            <li><a href="#">Документы</a></li>
            <li><a href="#">Контакты</a></li>
            <li class="footer__w-icon footer__search">
              <a href="#">
                <i></i>
                <span>Поиск</span>
              </a>
            </li>
            <li class="footer__margin footer__w-icon footer__smi">
              <a href="#">
                <i></i>
                <span>Для СМИ</span>
              </a>
            </li>
            <li class="footer__margin"><a href="#">Подписаться</a></li>
            <li><a href="#">Справочник</a></li>
            <li class="footer__margin footer__w-icon footer__special">
              <a href="#">
                <i></i>
                <span>Версия для людей с ограниченными возможностями</span>
              </a>
            </li>
            <li class="footer__margin"><a href="#">Твиттер</a></li>
            <li><a href="#">YouTube</a></li>
            <li class="footer__margin"><a href="#">English</a></li>
            <li class="footer__margin">Администрация
              Президента России
              2022 год
            </li>
          </ul>
        </div>

        <div class="footer__links">
          <ul class="footer__list">
            <li><a href="#">Президент России</a></li>
            <li><a href="#">Текущий ресурс</a></li>
            <li><a href="#">Конституция России</a></li>
            <li><a href="#">Государственная символика</a></li>
            <li><a href="#">Отправить письмо</a></li>
            <li><a href="#">Президент России — гражданам школьного возраста</a></li>
            <li><a href="#">Для СМИ</a></li>
            <li><a href="#">Виртуальный тур по Кремлю</a></li>
            <li><a href="#">Владимир Путин — личный сайт</a></li>
          </ul>
        </div>

        <div class="footer__links">
          <ul class="footer__list">
            <li><a href="#">Амурский тигр</a></li>
            <li><a href="#">Белуха — белый кит</a></li>
            <li><a href="#">Белый медведь</a></li>
            <li><a href="#">Ирбис — снежный барс</a></li>
            <li><a href="#">Дальневосточный леопард</a></li>
          </ul>
          <span class="footer__logo"></span>
        </div>

        <div class="footer__links">
          <ul class="footer__list">
            <li><a href="#">О портале</a></li>
            <li><a href="#">Об использовании информации сайта</a></li>
            <li><a href="#">О персональных данных пользователей</a></li>
            <li><a href="#">Написать в редакцию</a></li>
          </ul>
          <div class="footer__license">
            <p>Все материалы сайта доступны по лицензии:</p>
            <p>
              <a href="#">Creative Commons Attribution 4.0 International</a>
            </p>
          </div>
        </div>
      </div>

    </div>

  </div>
</footer>

<div class="controls">
  <div class="controls__container">
    <!-- <p>token - {{appService.getToken()}}</p> -->
  </div>
</div>
