
.wrapper {
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.container {
    margin-left: 140px;
    max-width: 720px;
    padding-left: 20px;
    padding-right: 20px;
}

.main {
    margin-top: 68px;
    background: #f8f8f8;

    &__text {
    margin-top: 57px;
    }

    &__title {
        margin-bottom: 45px;
        font-weight: 400;
        font-size: 32px;
        line-height: 1.2;
    }
    &__subtitle p {
        margin-bottom: 30px;
        color: #020c22;
        font-size: 20px;
    }

    &__subtitle a {
        color: #020c22;
        border-bottom: 1px solid #bcc2eb;
        transition: border-color 0.4s cubic-bezier(0.23, 1, 0.32, 1);
    }

    &__subtitle a:hover {
        border-color: #0a3fb4;
        transition: border-color .4s cubic-bezier(.23, 1, .32, 1);
    }

    &__subtitle-small {
        font-size: 15px;
        color: #606778;
        line-height: 1.4;
    }

    &__line {
        width: 893px;
        margin: 50px 0px;
        height: 1px;
        background: #e2e3e4;
    }

    &__download {
        margin-bottom: 50px;
        font-size: 20px;
        color: #0a3fb4;
    }

    &__download-size {
        color: #606778;
        font-size: 13px;
    }
    
}

.chapter {
    background: #f8f8f8;

    &__title {
        margin-bottom: 45px;
        font-size: 32px;
        line-height: 1.2;
    }
    
    &__subtitle {
        margin-bottom: 55px;
        line-height: 1.1;
        font-size: 24px;
    }

    &__list a {
        position: relative;
        width: 100%;
        background: #fefefe;
        border: none;
        border-radius: 2px;
        color: #4a5469;
        display: flex;
        justify-content: space-between;
        align-items: center;
        transition: color 1.4s cubic-bezier(0.23, 1, 0.32, 1), box-shadow 1.4s cubic-bezier(0.23, 1, 0.32, 1);
        padding: 14px 44px 14px 20px;
    }

    &__button:after {
        content: '';
        position: absolute;
        right: 15px;
        bottom: 16px;
        width: 10px;
        height: 10px;
        border: 2px solid;
        border-color: transparent #a6aebf  #a6aebf  transparent;
        transform: rotate(-45deg);
    }

    &__list {
        margin-bottom: 26px;
    }

    &__button span:last-child {
        font-size: 13px;
    }

    &__second button {
        color: #4a5469;
    }

    &__list:hover a{
        color: #0a3fb4;
        box-shadow: 0 4px 4px 0 rgba(9, 63, 179, 0.077), 0 8px 18px 2px rgba(2, 11, 34, 0.066);
    }
}

@media (max-width: 876px) {
    .container {
      padding: 0 10px 0 20px;
      max-width: 730px;
    }
}
  
