<header class="header">
<!-- add class "active" to .header to see hidden mobile menu -->

  <a href="#" class="toggle-aside"><span></span></a>

  <div class="header__container">

    <div class="header__content">

      <a href="#" class="header__logotype" [routerLink]="['/']">Партия "Поехали"</a>

      <ul class="header__nav">
        <li><a href="#" [routerLink]="['/news']">События</a></li>
        <li><a href="#" [routerLink]="['/docs']">Документы</a></li>
        <li><a href="#" [routerLink]="['/contact']">Контакты</a></li>
      </ul>

      <a href="#" class="toggle-more"><span></span></a>
    </div>

  </div>

  <!-- add class "active" to .header to see hidden mobile menu -->
  <div class="header__nav-mobile">
    <ul>
      <li><a href="#">События</a></li>
      <li><a href="#">Структура</a></li>
      <li><a href="#">Видео и фото</a></li>
      <li><a href="#">Документы</a></li>
      <li><a href="#">Контакты</a></li>
      <li><a href="#">Для СМИ</a></li>
      <li><a href="#">Справочник</a></li>
      <li><a href="#">Поиск</a></li>
      <li><a href="#" class="lang">English</a></li>
    </ul>
  </div>

</header>
