<header class="header">
<!-- add class "active" to .header to see hidden mobile menu -->

  <a class="toggle-aside" (click)="appService.showMenu()"><span></span></a>

  <div class="header__container">

    <div class="header__content">

      <a class="header__logotype" [routerLink]="['/']">Партия "Поехали"</a>

      <ul class="header__nav">
        <li><a href="#" [routerLink]="['/news']">События</a></li>
        <li><a href="#" [routerLink]="['/docs']">Документы</a></li>
        <li><a href="#" [routerLink]="['/contact']">Контакты</a></li>
      </ul>

      <a href="#" class="toggle-more"><span></span></a>
    </div>

  </div>

  <!-- add class "active" to .header to see hidden mobile menu -->
  <div class="header__nav-mobile">
    <ul>
      <li><a href="#">События</a></li>
      <li><a href="#">Структура</a></li>
      <li><a href="#">Видео и фото</a></li>
      <li><a href="#">Документы</a></li>
      <li><a href="#">Контакты</a></li>
      <li><a href="#">Для СМИ</a></li>
      <li><a href="#">Справочник</a></li>
      <li><a href="#">Поиск</a></li>
      <li><a href="#" class="lang">English</a></li>
    </ul>
  </div>

  <div class="sidebar" [ngClass]="{active: appService.isMenu}">

    <div class="sidebar__content">

      <div class="sidebar__title">
        <h2>Официальные сетевые ресурсы <span>Президента России</span></h2>
      </div>

      <div class="sidebar__lang">
        <span><a href="#">Russian</a></span>
        <span><a href="#">English</a></span>
      </div>

      <div class="sidebar__links">
        <ul class="sidebar__list">
          <li><a href="#">Для СМИ</a></li>
          <li><a href="#">Специальная версия для людей c&nbsp;ограниченными возможностями</a></li>
          <li><a href="#">Официальный Telegram-канал</a></li>
          <li><a href="#">Официальный Твиттер</a></li>
          <li><a href="#">Официальный канал на YouTube</a></li>
        </ul>
        <ul class="sidebar__list sidebar__list--gray">
          <li><a href="#">Конституция России</a></li>
          <li><a href="#">Государственная символика</a></li>
          <li><a href="#">Отправить письмо</a></li>
          <li><a href="#">Президент России &mdash; гражданам школьного возраста</a></li>
          <li><a href="#">Вируальный тур по Кремлю</a></li>
          <li><a href="#">Владимир Путин &mdash; личный сайт</a></li>
          <li><a href="#">Путин, 20 лет</a></li>
        </ul>
      </div>

      <div class="sidebar__sign">
        <p>Администрация Президента России</p>
        <span>2022</span>
      </div>

    </div>

  </div>

</header>

