
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    min-width: 1280px;
    height: 60px;
    background: #051945;
    display: inline-flex;
    align-items: center;
    font-size: 15px;
    z-index: 1000;
  
    &__logotype {
      display: inline-flex;
      align-items: center;
      color: #fefefe;
      font-size: 15px;
      gap: 15px;
      padding-right: 11px;
  
      &::before {
        content: "";
        display: block;
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        width: 29px;
        min-width: 29px;
        height: 29px;
        min-height: 29px;
        background-image: url("../../../assets/images/icons/other_icons/logotype.svg");
      }
  
      &::after {
        content: " ";
        display: block;
        border-left: 1px solid #707e9c;
        width: 2px;
        height: 28px;
      }
    }
  }