.contacts-page {
  padding-top: 128px;
  padding-bottom: 93px;
  background-color: #f8f8f8;
  line-height: 1.4;

  @media screen and (max-width: 730px) {
    padding-bottom: 30px;
  }

  section:not(:last-child) {
    padding-bottom: 75px;
  }

  [class*="__text"] a {
    color: #020c22;
    border-bottom: 1px solid #bcc2eb;
    transition: border-color .4s cubic-bezier(.23, 1, .32, 1);

    &:hover {
      border-color: #0a3fb4;
      transition: border-color .4s cubic-bezier(.23, 1, .32, 1);
    }
  }

  .separate {
    margin-left: -50%;
    border-top: 1px solid #e2e3e4;

    @media screen and (max-width: 730px) {
      margin-left: 0;
    }
  }
}


.contacts {

  &__title {
    margin-bottom: 45px;
  }

  &__text {
    margin-bottom: 40px;
    font-size: 20px;
  }
}


.contacts__text>*+* {
  margin-top: 30px;
}

.contacts {
  &__row {
    display: flex;
    flex-wrap: wrap;
    row-gap: 25px;
  }
}

.contacts-item {
  width: 50%;

  @media screen and (max-width: 730px) {
    width: 100%;
  }

  a {
    display: block;
    margin-bottom: 8px;
    font-size: 30px;
    font-weight: 600;
    line-height: 1.5;
    color: #181c40;
    text-transform: uppercase;
  }

  p {
    max-width: 320px;
    font-size: 15px;
    color: #606778;
  }
}

.official-services {
  padding-top: 60px;

  &__title {
    margin-bottom: 50px;
  }

  &__links li {
    font-size: 17px;
  }

  &__links li:not(:last-child) {
    margin-bottom: 25px;
  }

  &__links a {
    display: block;
    position: relative;
    font-weight: 300;
    padding: 14px 80px 14px 20px;

    color: #4a5469;
    background-color: #fefefe;
    border-radius: 2px;

    transition: color 1.4s cubic-bezier(0.23, 1, 0.32, 1), box-shadow 1.4s cubic-bezier(0.23, 1, 0.32, 1), -webkit-box-shadow 1.4s cubic-bezier(0.23, 1, 0.32, 1);

    &:hover {
      color: #0a3fb4;
      box-shadow: 0 4px 4px 0 rgba(9, 63, 179, 0.077), 0 8px 18px 2px rgba(2, 11, 34, 0.066);
    }
  }

  &__links a::after {
    content: ' ';
    display: block;

    position: absolute;
    top: 50%;
    right: 17px;
    transform: translateY(-50%);

    background-image: url(../../../assets/icons/external.svg);
    background-repeat: no-repeat;

    width: 16px;
    height: 14px;

    transition: right .4s cubic-bezier(.23, 1, .32, 1), background .4s cubic-bezier(.23, 1, .32, 1);
  }

  &__links a:hover::after {
    background-image: url(../../../assets/icons/external_hover.svg);
  }
}

.all-press {
  padding-top: 50px;
}

.press-card {
  display: flex;
  justify-content: space-between;
  padding-top: 42px;
  padding-bottom: 42px;
  border-bottom: 1px solid #e2e3e4;

  img {
    max-height: 140px;
    max-width: 140px;

    @media screen and (max-width: 560px) {
      display: none;
    }
  }
}

.press-card__content {
  max-width: 400px;

  h4 {
    margin-bottom: 30px;
    font-size: 24px;
    color: #020c22;
  }

  p {
    margin-bottom: 25px;
    font-size: 17px;
  }

  .contacts-item {
    a {
      font-size: 24px;
    }

    p {
      font-size: 15px;
    }
  }

}

.top-block {
  position: fixed;
  width: 100%;
  background-color: #fefefe;
  z-index: 101;
  margin-top: 60px;

  ul {
    display: flex;
    justify-content: flex-start;
  }

  li:not(:last-child) {
    margin-right: 20px;
  }
}

.top-block li a {
  display: block;
  padding-top: 22px;
  padding-bottom: 22px;

  font-size: 15px;
  color: #414c64;
  transition: color 1.4s cubic-bezier(0.23, 1, 0.32, 1);

  &:hover {
    color: #0a3fb4;
  }
}

.border-btn {
  display: inline-block;
  position: relative;

  padding-left: 32px;
  padding-right: 32px;

  font-size: 15px;
  height: 40px;
  line-height: 40px;

  text-align: center;
  color: #2ac1a0;
  background-color: #f8f8f8;
  border: 1px solid #e2e3e4;

  &:active {
    background: #dadada;
  }

  &:hover,
  &:focus {
    border-color: #28dcb4;
    transition: border-color .4s cubic-bezier(.23, 1, .32, 1), background .4s cubic-bezier(.23, 1, .32, 1);
  }
}
