.contacts-page__container,
.top-block__container,
.promoted__container {
  margin-left: 140px;
  max-width: 720px;
  padding-left: 20px;
  padding-right: 20px;

  @media screen and (max-width: 990px) {
    margin-left: auto;
  }

  @media screen and (max-width: 730px) {
    max-width: 700px;
  }
}


.contacts-page {
  padding-top: 128px;
  padding-bottom: 93px;
  background-color: #f8f8f8;

  @media screen and (max-width: 730px) {
    padding-bottom: 30px;
  }

  section:not(:last-child) {
    padding-bottom: 75px;
  }

  [class*="__text"] a {
    color: #020c22;
    border-bottom: 1px solid #bcc2eb;
    transition: border-color .4s cubic-bezier(.23, 1, .32, 1);

    &:hover {
      border-color: #0a3fb4;
      transition: border-color .4s cubic-bezier(.23, 1, .32, 1);
    }
  }

  .separate {
    margin-left: -50%;
    border-top: 1px solid #e2e3e4;

    @media screen and (max-width: 730px) {
      margin-left: 0;
    }
  }
}


.contacts {

  &__title {
    margin-bottom: 45px;
  }

  &__text {
    margin-bottom: 40px;
    font-size: 20px;
  }
}


.contacts__text>*+* {
  margin-top: 30px;
}

.contacts {
  &__row {
    display: flex;
    flex-wrap: wrap;
    row-gap: 25px;
  }
}

.contacts-item {
  width: 50%;

  @media screen and (max-width: 730px) {
    width: 100%;
  }

  a {
    display: block;
    margin-bottom: 8px;
    font-size: 30px;
    font-weight: 600;
    line-height: 1.5;
    color: #181c40;
    text-transform: uppercase;
  }

  p {
    max-width: 320px;
    font-size: 15px;
    color: #606778;
  }
}

.official-services {
  padding-top: 60px;

  &__title {
    margin-bottom: 50px;
  }

  &__links li {
    font-size: 17px;
  }

  &__links li:not(:last-child) {
    margin-bottom: 25px;
  }

  &__links a {
    display: block;
    position: relative;
    font-weight: 300;
    padding: 14px 80px 14px 20px;

    color: #4a5469;
    background-color: #fefefe;
    border-radius: 2px;

    transition: color 1.4s cubic-bezier(0.23, 1, 0.32, 1), box-shadow 1.4s cubic-bezier(0.23, 1, 0.32, 1), -webkit-box-shadow 1.4s cubic-bezier(0.23, 1, 0.32, 1);

    &:hover {
      color: #0a3fb4;
      box-shadow: 0 4px 4px 0 rgba(9, 63, 179, 0.077), 0 8px 18px 2px rgba(2, 11, 34, 0.066);
    }
  }

  &__links a::after {
    content: ' ';
    display: block;

    position: absolute;
    top: 50%;
    right: 17px;
    transform: translateY(-50%);

    // background-image: url('../img/svg/external.svg');
    background-repeat: no-repeat;

    width: 16px;
    height: 14px;

    transition: right .4s cubic-bezier(.23, 1, .32, 1), background .4s cubic-bezier(.23, 1, .32, 1);
  }

  &__links a:hover::after {
    // background-image: url('../img/svg/external_hover.svg');
  }
}

.all-press {
  padding-top: 50px;
}

.press-card {
  display: flex;
  justify-content: space-between;
  padding-top: 42px;
  padding-bottom: 42px;
  border-bottom: 1px solid #e2e3e4;

  img {
    max-height: 140px;
    max-width: 140px;

    @media screen and (max-width: 560px) {
      display: none;
    }
  }
}

.press-card__content {
  max-width: 400px;

  h4 {
    margin-bottom: 30px;
    font-size: 24px;
    color: #020c22;
  }

  p {
    margin-bottom: 25px;
    font-size: 17px;
  }

  .contacts-item {
    a {
      font-size: 24px;
    }

    p {
      font-size: 15px;
    }
  }

}

.promoted {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #fefefe;

  @media screen and (max-width: 730px) {
    display: none;
  }

  &__block {
    display: flex;
    justify-content: space-between;
  }

  &__title {
    padding-top: 20px;
    margin-bottom: 15px;
    font-size: 22px;
    font-weight: 600;

    color: #020c226d;
    transition: color 1.4s cubic-bezier(.23, 1, .32, 1);
  }

  &__content span {
    font-size: 13px;
    color: #606778;
    transition: color 1.4s cubic-bezier(.23, 1, .32, 1);
  }
}

.promoted__wrapper:hover {
  .promoted__title {
    color: #0a3fb4;
    transition: all .4s cubic-bezier(.23, 1, .32, 1);
  }

  .promoted__content span {
    color: #020c22;
    transition: all .4s cubic-bezier(.23, 1, .32, 1);
  }
}

.top-block {
  position: fixed;
  width: 100%;
  background-color: #fefefe;
  z-index: 101;

  ul {
    display: flex;
    justify-content: flex-start;
  }

  li:not(:last-child) {
    margin-right: 20px;
  }
}

.top-block li a {
  display: block;
  padding-top: 22px;
  padding-bottom: 22px;

  font-size: 15px;
  color: #414c64;
  transition: color 1.4s cubic-bezier(0.23, 1, 0.32, 1);

  &:hover {
    color: #0a3fb4;
  }
}

.border-btn {
  display: inline-block;
  position: relative;

  padding-left: 32px;
  padding-right: 32px;

  font-size: 15px;
  height: 40px;
  line-height: 40px;

  text-align: center;
  color: #2ac1a0;
  background-color: #f8f8f8;
  border: 1px solid #e2e3e4;

  &:active {
    background: #dadada;
  }

  &:hover,
  &:focus {
    border-color: #28dcb4;
    transition: border-color .4s cubic-bezier(.23, 1, .32, 1), background .4s cubic-bezier(.23, 1, .32, 1);
  }
}


/* Default styles */
* {
    padding: 0px;
    margin: 0px;
    border: 0px;
  }
  
*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
  
html {
    scroll-behavior: smooth;
}
  
:focus,
:active {
    outline: none;
}
  
input,
input:focus,
input:active,
select,
select:focus,
select:active,
textarea,
textarea:focus,
textarea:active,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
button {
    -webkit-appearance: none !important;
    -moz-appearance: none !important;
    appearance: none !important;
    -webkit-tap-highlight-color: transparent;
    -webkit-border-radius: 0px;
    border-radius: 0px;
    outline: none;
    box-shadow: none !important;
    font-size: inherit;
}
  
@media screen and (-webkit-min-device-pixel-ratio:0) and (max-device-width:1024px) {
  
    input,
    input:focus,
    input:active,
    select,
    select:focus,
    select:active,
    textarea,
    textarea:focus,
    textarea:active,
    input[type="text"],
    input[type="password"],
    input[type="datetime"],
    input[type="datetime-local"],
    input[type="date"],
    input[type="month"],
    input[type="time"],
    input[type="week"],
    input[type="number"],
    input[type="email"],
    input[type="url"],
    input[type="search"],
    input[type="tel"],
    input[type="color"],
    button {
      -webkit-appearance: none !important;
      -moz-appearance: none !important;
      appearance: none !important;
      -webkit-tap-highlight-color: transparent;
      -webkit-border-radius: 0px;
      border-radius: 0px;
      outline: none;
      box-shadow: none !important;
      font-size: inherit;
    }
}
  
input[type="radio"],
input[type="checkbox"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
}
  
input:checked {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
  
a:focus,
a:active {
    outline: none;
}
  
aside,
nav,
footer,
header,
section {
    display: block;
}
  
html,
body {
    height: 100%;
}
  
body {
    font-family: "Heebo", sans-serif;
    line-height: 1.4;
    color: #020c22;
    font-weight: 400;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
  
input::-ms-clear {
    display: none;
}
  
button {
    cursor: pointer;
}
  
button::-moz-focus-inner {
    padding: 0;
    border: 0;
}
  
a,
a:visited {
    text-decoration: none;
}
  
a:hover {
    text-decoration: none;
}
  
ul li {
    list-style: none;
}
  
img {
    vertical-align: top;
}
  
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: inherit;
    font-size: inherit;
}
  
[class*="__container"] {
    max-width: 1200px;
    padding: 0 20px;
    margin: 0 auto;
}