.form {
    padding-top: 54px;

    &__dropdown {
        display: flex;
    }

    &__label {
        font-size: 13px;
        line-height: 27px;
        color: #606778;
    }

    &__title {
        position: relative;
        width: 488px;
        height: 38px;
        padding-left: 10px;
        text-align: left;
        background: #fefefe;
        margin-right: 30px;
        border: 1px solid #d3cfcf;
        color: #606778;
    }

    &__title:hover {
        border: 1px solid #2ac1a0;
    }

    &__title:after {
        content: '';
        position: absolute;
        right: 15px;
        bottom: 15px;
        width: 7px;
        height: 7px;
        border: 1px solid;
        border-color: transparent #7c7a7a #7c7a7a transparent;
        transform: rotate(45deg);
    }

    &__show {
        width: 160px;
        border: 1px solid #d3cfcf;
        color: #2ac1a0;
        height: 40px;
        line-height: 38px;
        background: #f8f8f8;
    }
}

.line {
    margin-top: 43px;
    width: 100%;
    height: 1px;
    background: #e2e3e4;
}

.content {
    margin: 0 0 43px;
    background: #f8f8f8;

    &__text {
        padding: 32px 0;
        color: #989899;
        border-bottom: 1px solid #e2e3e4;
    }

    &__line:last-child {
        border: none;
    }

    &__title li {
        font-size: 17px;
        font-weight: 600;
        line-height: 1.35;
    }

    &__title a {
        color: #606778;
    }

    &__title a:hover {
        color: #0a3fb4;
    }

    &__subtitle {
        max-width: 623px;
        font-size: 14px;
        margin: 13px 0 18px 0;
        line-height: 1.4;
    }

    &__responsible,
    &__topic {
        display: flex;
        margin-top: 9px;
        font-size: 13px;
        color: #606778;
    }

    &__responsible div:first-child,
    &__topic div:first-child {
        min-width: 220px;
    }

    &__responsible a,
    &__topic a {
        color: #020c22;
    }

    &__show {
        width: 100%;
        height: 44px;
        margin: 64px 0 40px 0;
        color: #fefefe;
        background-color: #2ac1a0;
        border: none;
        text-align: center;
        font-size: 13px;
    }

    &__show:hover{
        background-color: #28dcb4;
    }

}

.menu__list {
    display: flex;
}

.menu__list li a {
    margin-right: 11px;
    line-height: 60px;
    color: #4a5469;
}

@media (max-width: 730px) {
    .menu__list {
      display: none;
    }
    .menu {
      background: #03153a;
    }
    .menu__media {
      display: block;
      width: 80%;
      padding: 14px 0;
      line-height: 25px;
      font-size: 20px;
      color: #647290;
    }
    .burger_menu {
      position: absolute;
      top: 22px;
      right: 22px;
      // background-image: url("../../../assets/icons/menu.svg");
      background-repeat: no-repeat;
      background-size: 18px 18px;
      width: 18px;
      height: 18px;
    }
    .content {
        margin: 0 0 43px;
        background: #fefefe;
    }
    .form__dropdown {
        display: block;
    }
    .form__title {
        width: 100%;
        margin-right: 0;
    }
    .form__show {
        width: 100%;
        margin-top: 27px;
        background-color: #fefefe;
    }
    .content__responsible {
        display: block;
        margin-bottom: 10px;
    }
    .content__responsible-media, .content__topic-media {
        margin-top: 5px;
    }
    .content__topic {
        display: block;
    }
    .footer__item {
        display: none;
    }
    .footer__media {
        display: block;
    }
    .footer {
        padding-top: 26px 0 35px 0;
    }
    .footer__title {
        margin: 22px 0 0 0;
        font-size: 20px;
        line-height: 27px;
    }
    .footer__subtitle {
        font-size: 13px;
        padding-top: 4px;
        color: #909cb4;
    }
    .footer__line {
        margin: 25px 0 20px -20px;
        background: #282e3c;
        height: 1px;
    }
    .footer__list a {
        color: #fefefe;
        font-size: 17px;
    }

    .footer__list li {
        margin-bottom: 17px;
    }
    .footer__license, .footer__admin, .footer__year {
        margin: 0;
        color: #606778;
        font-size: 13px;
    }
    .footer__admin {
     margin-top: 20px;
    }
}

//КНОПКА

.info__button {
    position: relative;
    background: #0a3fb4;
    display: block;
    color: #fefefe;
    font-size: 13px;
    text-align: center;
    border-radius: 2px;
    height: 40px;
    line-height: 40px;
    width: 100%;
}

.info__button:hover {
    background: #020c22;
}

//СТИЛЬ ДЛЯ СТР ОШИБКИ

.error {
    margin: 20px 0;
    text-align: center;
}
.error__block {
    border: 1px solid rgb(122, 122, 122);
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.error__text {
    padding: 40px;
}

.error__button {
    width: 100px;
    height: 44px;
    margin-bottom: 10px;
    color: #fefefe;
    background-color: #2ac1a0;
    border: none;
    align-items: center;
    font-size: 13px;
}
