$prefix-for-webkit:    true !default;
$prefix-for-mozilla:   false !default;
$prefix-for-microsoft: true !default;
$prefix-for-opera:     false !default;
$prefix-for-spec:      true !default; // required for keyframe mixin

$develop:true;
$production:false;
$all:true;
$ie9:false;
$ie8:false;
$ie7:false;
$doc:false;
$local_var:global;
$holydat_var:none;
.wrap {
	width: calc(100% - 320px);
	padding: 0 160px;
	min-width: 680px;

	&--header {
		padding: 0 160px 0 116px;
	}
}
.hr {
	border-top: 1px solid #e2e3e4;
	margin-top: 25px;
	margin-bottom: 50px;
	width: 100%;
	max-width: 840px;
	margin-left: 0;
}

@import "includes";
