<ng-container *ngIf="appService.appReady">
  <app-header></app-header>
  <div class="router-container">
    <ng-container *ngIf="!appService.errorCode; else error">
      <router-outlet></router-outlet>
    </ng-container>
    <ng-template #error>
      <app-error-page></app-error-page>
    </ng-template>
  </div>
  <app-footer></app-footer>
  <div id="cursor"></div>
</ng-container>

<ng-container *ngIf="!appService.appReady">

  <div class="main-loading-container">
    <div class="loading-spinner"></div>
  </div>

</ng-container>
