// g 6AC180
// y FEC12B
// b 00AEEF
// r E21E26

.site-pages {}

.site-pages__container {}

.site-pages-content {}

.site-pages_title {}

.site-pages_desk {}

.site-pages_about {}

.site-pages_title {}

.link--color-0 {
  background-color: #6AC180;
}

.link--color-1 {
  background-color: #FEC12B;
}

.link--color-2 {
  background-color: #00AEEF;
}

.link--color-3 {
  background-color: #E21E26;
}

.site-pages-links {
  display: grid;
  place-content: center;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
}

.site-pages-link::before {
  content: "";
  background-image: ulr();
  background-repeat: no-repeat;
  background-size: cover;
}
