<div class="main-page">

  <div class="promoted">
    <div class="promoted__container">
      <a href="#" class="promoted__wrapper">
        <div class="promoted__block">
          <div class="promoted__content">
            <h3 class="promoted__title">Меры поддержки в условиях санкций</h3>
            <span>10 апреля 2022 года</span>
          </div>
          <img src="../../../assets/images/promoted.jpg" alt="">
        </div>
      </a>
    </div>
  </div>

  <div class="main">

    <div class="main__container">

      <div class="masonry">

        <a class="masonry__item masonry__item--large" href="#">
          <h3 class="masonry__title">Пыня думает, что чет все не серьезно нихуя</h3>
          <div class="masonry__date">5 апреля 2022 года, 17:35</div>
          <span class="masonry__preview">
            <img src="../../../assets/images/masonry.jpg">
          </span>
        </a>

        <div class="masonry__row">

          <a class="masonry__item masonry__item--small" href="#">
            <h3 class="masonry__title">Принят указ переименовать Киев в Жировск</h3>
            <div class="masonry__date">5 апреля 2022 года, 17:35</div>
            <span class="masonry__preview">
              <img src="../../../assets/images/masonry.jpg">
            </span>
          </a>

          <a class="masonry__item masonry__item--small" href="#">
            <h3 class="masonry__title">Совещание по развитию агропромышленного и рыбохозяйственного комплексов
            </h3>
            <div class="masonry__date">5 апреля 2022 года, 17:35</div>
            <span class="masonry__preview">
              <img src="../../../assets/images/masonry.jpg">
            </span>
          </a>

        </div>

      </div>

      <div class="section section--previous">
        <a class="section__header" href="#">
          <div class="section__title">Президент России</div>
        </a>
        <div class="news">
          <div class="news__row">
            <a class="news__item" href="#">
              <div class="news__title">Телефонный разговор с Президентом Азербайджана Ильхамом Алиевым</div>
              <div class="news__date">9 апреля 2022 года, 15:30</div>
            </a>
            <a class="news__item" href="#">
              <div class="news__title">Телефонный разговор с Президентом Туркменистана Сердаром Бердымухамедовым
              </div>
              <div class="news__date">9 апреля 2022 года, 15:30</div>
            </a></div>
          <div class="news__row">
            <a class="news__item" href="#">
              <div class="news__title">Открыта аккредитация журналистов на освещение мероприятий, посвящённых 77-й
                годовщине Победы в Великой Отечественной войне 1941–1945 годов</div>
              <div class="news__date">9 апреля 2022 года, 15:30</div>
            </a><a class="news__item" href="#">
              <div class="news__title">Телефонный разговор с Премьер-министром Венгрии Виктором Орбаном</div>
              <div class="news__date">9 апреля 2022 года, 15:30</div>
            </a></div>
          <div class="news__row"><a class="news__item" href="#">
              <div class="news__title">Телефонный разговор с Премьер-министром Венгрии Виктором Орбаном</div>
              <div class="news__date">9 апреля 2022 года, 15:30</div>
            </a><a class="news__item" href="#">
              <div class="news__title">Телефонный разговор с Премьер-министром Венгрии Виктором Орбаном</div>
              <div class="news__date">9 апреля 2022 года, 15:30</div>
            </a></div>
        </div>
      </div>
      <div class="section section--map section--previous">
        <div class="section__header section__header--icon">
          <div class="section__title">Карта сатирической партии Поехали</div>
        </div>

        <div class="map">
          <div class="map__row">
            <agm-map [latitude]="mapEurope[0]" [longitude]="mapEurope[1]" [zoom]="3" [disableDefaultUI]="true"
              [styles]="mapTheme" (mapClick)="openMarkerModal($event)">

              <!-- В agm_map v 3.beta есть ошибка с $event, возвращает не евент, а "с". -->
              <!-- <agm-fullscreen-control *ngIf="!mapMarkSelectedShow"></agm-fullscreen-control> -->
              <!-- <agm-zoom-control *ngIf="!mapMarkSelectedShow"></agm-zoom-control> -->

              <ng-container *ngFor="let mark of mapTgMarks">
                <agm-marker [latitude]="mark.lat" [longitude]="mark.long" [iconUrl]="'assets/icons/tg_icon.png'"
                  [iconUrl]="iconTgMap" (markerClick)="openTgMap(mark.id, 'tg')">
                </agm-marker>
              </ng-container>

              <ng-container *ngFor="let mark of mapUsersMarks">
                <agm-marker [latitude]="mark.lat" [longitude]="mark.long" [iconUrl]="iconUserMap"
                  (markerClick)="openTgMap(mark.id, 'user')">
                </agm-marker>
              </ng-container>

            </agm-map>
            <div class="map-selected" *ngIf="mapMarkSelectedShow"
              (clickOutside)="mapMarkSelectedShowT ? clickOutsideHandler('mapMarkSelectedShowT') : ''">
              <div class="map-selected-content" *ngIf="!isLoadling">
                <img class="map-selected_img" src="{{selectedMark.imgUrl}}">
                <h2 class="map-selected_title">{{selectedMark.title}}</h2>
                <span class="map-selected_desk">{{selectedMark.desk}}</span>
                <a class="map-selected_url" href="{{selectedMark.url}}">Ссылка: {{selectedMark.url}}</a>
              </div>
              <div class="main-loading-container" *ngIf="isLoadling">
                <div class="loading-spinner"></div>
              </div>
            </div>

            <div class="map-about" *ngIf="!isAboutMapShow" (click)="openAboutMap()">
              <div class="map-about-content">
                <img src="assets/icons/about_map.svg" alt="About map?">
              </div>
            </div>

            <div class="map-about-text" *ngIf="isAboutMapShow">
              <div class="map-about-text-content">
                <img src="assets/icons/galka_white.svg" alt="Окей" (click)="openAboutMap()">
                <h2>Карта членов партии</h2>
                <span>Карта необходима, правда я не уверен зачем. (Нужен красивый текст)</span>
                <p>Тут можно тыкнуть дважды и добавить метку.</p>
              </div>
            </div>

            <div class="map-about-text" *ngIf="mapNewMarkIsShow">
              <div class="map-about-text-content">
                <img src="assets/icons/galka_white.svg" alt="Окей" (click)="openMarkerModal(null)">
                <h2>Желаете поставить новую метку?</h2>
                <span>Для новой метки необходим телеграм аккаунт или почта</span>
                <p>Добавьте необходимые поля и метка появится на карте.</p>
                <br>
                <input type="text" placeholder="Почта">
                <span>Или</span>
                <input type="text" placeholder="Телеграм">
                <button>Готово!</button>
              </div>
            </div>

          </div>
        </div>
      </div>
      <div class="section section--previous">
        <div class="section__header section__header--icon">
          <div class="section__title">Комиссии и советы при Президенте России</div>
        </div>
        <div class="news">
          <div class="news__row"><a class="news__item" href="#">
              <div class="news__title">Телефонный разговор с Президентом Азербайджана Ильхамом Алиевым</div>
              <div class="news__date">9 апреля 2022 года, 15:30</div>
            </a><a class="news__item" href="#">
              <div class="news__title">Телефонный разговор с Президентом Туркменистана Сердаром Бердымухамедовым
              </div>
              <div class="news__date">9 апреля 2022 года, 15:30</div>
            </a></div>
          <div class="news__row"><a class="news__item" href="#">
              <div class="news__title">Открыта аккредитация журналистов на освещение мероприятий, посвящённых 77-й
                годовщине Победы в Великой Отечественной войне 1941–1945 годов</div>
              <div class="news__date">9 апреля 2022 года, 15:30</div>
            </a><a class="news__item" href="#">
              <div class="news__title">Телефонный разговор с Премьер-министром Венгрии Виктором Орбаном</div>
              <div class="news__date">9 апреля 2022 года, 15:30</div>
            </a></div>
          <div class="news__row"><a class="news__item" href="#">
              <div class="news__title">Телефонный разговор с Премьер-министром Венгрии Виктором Орбаном</div>
              <div class="news__date">9 апреля 2022 года, 15:30</div>
            </a><a class="news__item" href="#">
              <div class="news__title">Телефонный разговор с Премьер-министром Венгрии Виктором Орбаном</div>
              <div class="news__date">9 апреля 2022 года, 15:30</div>
            </a></div>
        </div>
      </div>

    </div>

    <div class="section section--sites">
    <div class="main__container">
      <div class="sites">
        <div class="sites__row"><a class="sites__item sites__item--red" href="#">
            <div class="sites__title">Меры Правительства по повышению устойчивости экономики и поддержке
              граждан в условиях санкций</div>
            <div class="sites__ui">
              <div class="sites__description">constitution.kremlin.ru</div>
              <div class="sites__button"></div>
            </div>
          </a><a class="sites__item sites__item--red" href="#">
            <div class="sites__title">Конституция Российской Федерации</div>
            <div class="sites__ui">
              <div class="sites__description">constitution.kremlin.ru</div>
              <div class="sites__button"></div>
            </div>
          </a></div>
        <div class="sites__row"><a class="sites__item" href="#">
            <div class="sites__title">Конституция Российской Федерации</div>
            <div class="sites__ui">
              <div class="sites__description">constitution.kremlin.ru</div>
              <div class="sites__button"></div>
            </div>
          </a><a class="sites__item" href="#">
            <div class="sites__title">Конституция Российской Федерации</div>
            <div class="sites__ui">
              <div class="sites__description">constitution.kremlin.ru</div>
              <div class="sites__button"></div>
            </div>
          </a></div>
        </div>
      </div>
    </div>

  </div>

</div>
