.main-page {
  padding-top: 60px;

  @media screen and (max-width: 730px) {
    padding-top: 0;
  }
}

.main {
  padding-top: 30px;
  background: #f8f8f8;
}

.nav {
  display: flex;
  align-items: center;
  gap: 22px;

  &:hover &__item {
    color: #707e9c;
  }

  &__item {
    transition: all 250ms ease-in-out;
    color: #fefefe;
    cursor: pointer;

    &:hover {
      color: #22ebbe !important;
    }
  }

}

.news {
  width: 100%;
  min-width: 680px;
  display: flex;
  flex-direction: column;
  gap: 33px;

  &__row {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  &__item {
    max-width: 320px;
    padding-bottom: 30px;
    border-bottom: 1px solid #e2e3e4;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
  }

  &__item:hover &__title {
    color: #0a3fb4;
  }

  &__item:hover &__date {
    color: #020c22;
  }

  &__title {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    line-clamp: 5;
    -webkit-box-orient: vertical;
    font-size: 20px;
    line-height: 1.35;
    margin-bottom: 30px;
    color: #020c22;
    font-weight: 600;
    transition: all 0.25s ease-in-out;
  }

  &__date {
    color: #606778;
    transition: all 0.25s ease-in-out;
    font-size: 13px;
  }

  &__row:last-child &__item {
    border: none;
  }
}

.map {
  &__row {
    position: relative;
    width: 100%;
    height: 400px;
  }
}

.section {
  margin-top: 40px;
  max-width: 680px;
  min-width: 680px;

  &--map {
    max-width: inherit !important;
    width: 100% !important;
  }

  &__header {
    display: block;
    margin-bottom: 55px;
    min-width: 680px;
    cursor: pointer;
  }


  &__header--icon &__title::before {
    content: "";
    display: block;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 26px;
    min-width: 26px;
    height: 26px;
    min-height: 26px;
    background-image: url("../../../assets/images/icons/other_icons/arrow_up.svg");
    transform: rotate(180deg);
    border-radius: 50%;
    transition: 250ms all ease-in-out;
    position: absolute;
    margin-left: -50px;
    margin-top: -3px;
  }

  &__header--icon:hover>&__title::before {
    background-image: url("../../../assets/images/icons/other_icons/arrow_up_hover.svg");
    transform: none;
  }

  &__title {
    font-size: 20px;
    color: #0a3fb4;
    font-weight: 500;
  }

  &--sites {
    width: 100%;
    background: #e2e3e4;
    max-width: 100%;
  }
}

.sites {
  padding-top: 30px;
  padding-bottom: 30px;
  max-width: 680px;

  &__row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;

    &:nth-child(2) {
      margin-bottom: 0px;
    }
  }

  &__item {
    width: 320px;
    height: 170px;
    padding: 23px 27px 20px 29px;
    background: #fefefe;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    transition: all 0.2s ease-in-out;
  }

  &__title {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    line-clamp: 5;
    -webkit-box-orient: vertical;
    font-size: 16px;
    font-weight: bold;
    line-height: 1.35;
    color: #020c22;
    transition: all 0.2s ease-in-out;
  }

  &__description {
    text-transform: uppercase;
    color: #0a3fb4;
    font-size: 13px;
    transition: all 0.2s ease-in-out;
  }

  &__ui {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__button {
    transition: all 0.2s ease-in-out;
    width: 7px;
    height: 13px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-image: url("../../../assets/images/icons/other_icons/arrow__right.svg");
  }

  &__item:hover {
    background: #051945;
  }

  &__item:hover &__title {
    color: #fefefe;
  }

  &__item:hover &__description {
    color: #98a4be;
  }

  &__item:hover &__button {
    background-image: url("../../../assets/images/icons/other_icons/arrow__right_grey.svg");
  }

  &__item--red:hover {
    background: #e6003e;
  }

  &__item--red:hover &__button {
    background-image: url("../../../assets/images/icons/other_icons/arrow__right_grey.svg");
  }
}


.masonry {
  width: 100%;
  min-width: 680px;
  max-width: 680px;


  &__title,
  &__date {
    transition: 250ms all ease-in-out;
  }

  &__title {
    color: #020c22;
    margin-bottom: 25px;
    font-size: 24px;
    font-weight: 600;
  }

  &__date {
    display: inline-block;
    color: #606778;
    margin-bottom: 25px;
  }

  &__item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50%;
    cursor: pointer;

    &:not(:last-child) {
      margin-right: 40px;
    }

    @media screen and (max-width: 730px) {
      margin-right: 0;
      margin-bottom: 30px;
    }

    img {
      width: 100%;
      height: 100%;
    }

    &:hover h3 {
      color: #0a3fb4;
    }
  }

  &__item--large {
    margin-bottom: 42px;
    max-width: 100%;
    width: 680px;

    h3 {
      height: fit-content;
    }

    @media screen and (max-width: 730px) {
      display: none;
    }
  }

  &__item--large &__title {
    font-size: 32px;
    -webkit-font-smoothing: subpixel-antialiased;
  }

  &__preview {
    display: block;
    position: relative;
    width: 100%;
    height: 220px;

    &::before {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 110;

      background-image: url(../../../assets/icons/zoom.svg);
      background-repeat: no-repeat;
      background-position: center;
      background-size: 122px 122px;
      opacity: 0;
      transform: scale(.8);

      transition: transform .5s ease, opacity 0s ease .3s;
    }

    &::after {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 100;

      background-color: rgba(10,63,180,.55);
      background-image: url(../../../assets/icons/circle.svg);
      background-repeat: no-repeat;
      background-size: 122px 122px;
      background-position: center;
      opacity: 0;
      transition: opacity .8s ease;
    }
  }

  &__item--small:hover &__preview::after {
    opacity: 1;
  }

  &__item--small:hover &__preview::before {
    opacity: 1;
    transform: scale(1);
    transition: opacity 0s ease, transform .5s ease;
  }

  &__item--large &__preview {
    height: 420px;
  }

  &__row {
    width: 100%;
    justify-content: space-between;
    display: flex;

    @media screen and (max-width: 730px) {
      flex-direction: column;
    }
  }
}

.section {
  position: relative;

  width: 100%;

  font-size: 1rem;
}

.section_in {
  max-width: 96rem;
  width: 100%;
  margin: 0 auto;
}

.icon {
  display: block;

  fill: currentColor;

  &.icon--size_mod {
    width: 100%;
    height: 100%;
  }
}

.hr {
  border-top: 1px solid #e2e3e4;
  margin-top: 25px;
  margin-bottom: 50px;
  width: 100%;
  max-width: 840px;
  margin-left: 0;
}
