<section class="chavo">
  <div class="chavo-content">
    <div class="chavo-fields">
      <ng-container *ngFor="let chavo of data">
        <div class="chavo-field">
          <h2 class="chavo-field_title" (click)="openChavo(chavo)">{{chavo.title}}</h2>
          <div class="chavo-field_desk" *ngIf="chavo.deskShow">{{chavo.data}}</div>
          <div class="chavo-field_data" *ngIf="chavo.show">{{chavo.data}}</div>
        </div>
      </ng-container>
    </div>
    <!-- <div class="">Одним словом,</div> -->
    <!-- <div class="">JUST FOR LULZ, КОНЕЧНО!</div> -->
  </div>
</section>
