<section class="chavo">
  <div class="chavo__container">
    <div class="chavo-content">
      <div class="site-pages-block-title site-pages-block-title--{{position}}">
        <h2 class="site-pages_title">Хронология событий</h2>
        <span class="site-pages_desk">
          Манифест чаво, коротко о партии, частые вопросы.
        </span>
      </div>
      <div class="chavo-fields" *ngFor="let chavo of data">
        <div class="chavo-field">
          <h2 class="chavo-field_title" (click)="openChavo(chavo)">{{chavo.title}}</h2>
          <div class="chavo-field_desk" *ngIf="chavo.deskShow">{{chavo.data}}</div>
          <div class="chavo-field_data" *ngIf="chavo.show">{{chavo.data}}</div>
        </div>
      </div>
      <!-- <div class="">Одним словом,</div> -->
      <!-- <div class="">JUST FOR LULZ, КОНЕЧНО!</div> -->
    </div>
  </div>
</section>
