<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="page.css">
  <title>Document</title>
</head>
<body>
  <div class="promoted wrap"><a class="promoted__link" href="#">
    <div class="promoted__container">
      <div class="promoted__left">
        <h3 class="promoted__title">Релиз</h3>
        <div class="promoted__date">10 апреля 2022 года</div>
      </div>
      <div class="promoted__right">
        <div class="promoted__preview"></div>
      </div>
    </div>
  </a></div>
<div class="main">
  <div class="wrap">
    <div class="masonry">
      <a class="masonry__item masonry__item--large" href="#">
        <h3 class="masonry__title">Пыня</h3>
        <div class="masonry__date">5 апреля 2022 года, 17:35</div>
        <div class="masonry__preview"></div>
      </a>
      <div class="masonry__row">
        <a class="masonry__item" href="#">
          <h3 class="masonry__title">Принят указ переименовать Киев в Жировск</h3>
          <div class="masonry__date">5 апреля 2022 года, 17:35</div>
          <div class="masonry__preview"></div>
        </a><a class="masonry__item" href="#">
          <h3 class="masonry__title">Совещание по развитию агропромышленного и рыбохозяйственного комплексов
          </h3>
          <div class="masonry__date">5 апреля 2022 года, 17:35</div>
          <div class="masonry__preview"></div>
        </a></div>
    </div>
  </div>
  <div class="section section--previous wrap"><a class="section__header" href="#">
      <div class="section__title">Президент России</div>
    </a>
    <div class="news">
      <div class="news__row">
        <a class="news__item" href="#">
          <div class="news__title">Телефонный разговор с Президентом Азербайджана Ильхамом Алиевым</div>
          <div class="news__date">9 апреля 2022 года, 15:30</div>
        </a>
        <a class="news__item" href="#">
          <div class="news__title">Телефонный разговор с Президентом Туркменистана Сердаром Бердымухамедовым
          </div>
          <div class="news__date">9 апреля 2022 года, 15:30</div>
        </a></div>
      <div class="news__row">
        <a class="news__item" href="#">
          <div class="news__title">Открыта аккредитация журналистов на освещение мероприятий, посвящённых 77-й
            годовщине Победы в Великой Отечественной войне 1941–1945 годов</div>
          <div class="news__date">9 апреля 2022 года, 15:30</div>
        </a><a class="news__item" href="#">
          <div class="news__title">Телефонный разговор с Премьер-министром Венгрии Виктором Орбаном</div>
          <div class="news__date">9 апреля 2022 года, 15:30</div>
        </a></div>
      <div class="news__row"><a class="news__item" href="#">
          <div class="news__title">Телефонный разговор с Премьер-министром Венгрии Виктором Орбаном</div>
          <div class="news__date">9 апреля 2022 года, 15:30</div>
        </a><a class="news__item" href="#">
          <div class="news__title">Телефонный разговор с Премьер-министром Венгрии Виктором Орбаном</div>
          <div class="news__date">9 апреля 2022 года, 15:30</div>
        </a></div>
    </div>
  </div>
  <div class="section section--previous wrap">
    <div class="section__header section__header--icon">
      <div class="section__title">Комиссии и советы при Президенте России</div>
    </div>
    <div class="news">
      <div class="news__row"><a class="news__item" href="#">
          <div class="news__title">Телефонный разговор с Президентом Азербайджана Ильхамом Алиевым</div>
          <div class="news__date">9 апреля 2022 года, 15:30</div>
        </a><a class="news__item" href="#">
          <div class="news__title">Телефонный разговор с Президентом Туркменистана Сердаром Бердымухамедовым
          </div>
          <div class="news__date">9 апреля 2022 года, 15:30</div>
        </a></div>
      <div class="news__row"><a class="news__item" href="#">
          <div class="news__title">Открыта аккредитация журналистов на освещение мероприятий, посвящённых 77-й
            годовщине Победы в Великой Отечественной войне 1941–1945 годов</div>
          <div class="news__date">9 апреля 2022 года, 15:30</div>
        </a><a class="news__item" href="#">
          <div class="news__title">Телефонный разговор с Премьер-министром Венгрии Виктором Орбаном</div>
          <div class="news__date">9 апреля 2022 года, 15:30</div>
        </a></div>
      <div class="news__row"><a class="news__item" href="#">
          <div class="news__title">Телефонный разговор с Премьер-министром Венгрии Виктором Орбаном</div>
          <div class="news__date">9 апреля 2022 года, 15:30</div>
        </a><a class="news__item" href="#">
          <div class="news__title">Телефонный разговор с Премьер-министром Венгрии Виктором Орбаном</div>
          <div class="news__date">9 апреля 2022 года, 15:30</div>
        </a></div>
    </div>
  </div>
  <div class="section section--sites">
    <div class="wrap">
      <div class="sites">
        <div class="sites__row"><a class="sites__item sites__item--red" href="#">
            <div class="sites__title">Меры Правительства по повышению устойчивости экономики и поддержке
              граждан в условиях санкций</div>
            <div class="sites__ui">
              <div class="sites__description">constitution.kremlin.ru</div>
              <div class="sites__button"></div>
            </div>
          </a><a class="sites__item sites__item--red" href="#">
            <div class="sites__title">Конституция Российской Федерации</div>
            <div class="sites__ui">
              <div class="sites__description">constitution.kremlin.ru</div>
              <div class="sites__button"></div>
            </div>
          </a></div>
        <div class="sites__row"><a class="sites__item" href="#">
            <div class="sites__title">Конституция Российской Федерации</div>
            <div class="sites__ui">
              <div class="sites__description">constitution.kremlin.ru</div>
              <div class="sites__button"></div>
            </div>
          </a><a class="sites__item" href="#">
            <div class="sites__title">Конституция Российской Федерации</div>
            <div class="sites__ui">
              <div class="sites__description">constitution.kremlin.ru</div>
              <div class="sites__button"></div>
            </div>
          </a></div>
      </div>
    </div>
  </div>
</div>

</body>
</html>